<%= link_to "New post", new_post_path, class:"btn btn-secondary" %>

<h1>My Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <div class="col-lg-3 col-md-5 col-sm-11 m-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= post.title %></h5>
          <p class="card-text"><%= post.conntent %></p>
          <%= link_to "View Post", post, class:"btn btn-info " %>
        </div>
      </div>

    </div>
  <% end %>
</div>


